# Pooled connection (Neon → Connect → pooled) — для приложения на Vercel
DATABASE_URL="postgresql://USER:PASSWORD@ep-xxxx-pooler.REGION.aws.neon.tech/neondb?sslmode=require"

# Direct connection (Neon → Connect → direct) — для Prisma Migrate
DIRECT_URL="postgresql://USER:PASSWORD@ep-xxxx.REGION.aws.neon.tech/neondb?sslmode=require"
